<div class="stars">
  <ng-container *ngFor="let rate of rate$ | async; let i = index">
    <span class="stars__item star"
      ><mat-icon class="star__icon" aria-hidden="false">{{ rate }}</mat-icon
      ><span class="star__index">{{ i + 1 }}</span></span
    >
  </ng-container>
</div>

<span class="label">({{ value }})</span>
