@import ../../styles/colors
  
:host
  display: flex
  align-items: flex-start

.stars
  display: flex

.star
  display: flex
  flex-direction: column
  align-items: center
  margin-right: -0.15em
  color: $accent

  &__index
    font-size: 0.7em
    margin-top: -0.2em

  &__icon
    width: auto
    height: auto
    font-size: 1.5em

.label
  margin-left: 0.5em