<mat-form-field class="filter">
  <input
    matInput
    type="text"
    [ngModel]="value"
    (ngModelChange)="changeModel($event)"
  />
  <span matPrefix><mat-icon class="prefix-icon">search</mat-icon></span>
  <span matSuffix
    ><button
      mat-button
      *ngIf="value"
      mat-icon-button
      aria-label="Clear"
      (click)="changeModel()"
    >
      <mat-icon>close</mat-icon>
    </button></span
  >
</mat-form-field>
