@import ../../styles/colors
  
:host
  position: relative
  overflow: hidden

  &:hover
    animation: effect 0.5s
    z-index: 1

    & .card
      &__cover
        transform: scale(1.05)
        filter: saturate(130%) brightness(130%)

      &__rate
        transform: scale(1.2)
        &__star
          opacity: 0.8

.card
  padding: 0
  box-shadow: none

  &__title
    position: absolute

  &__rate
    position: absolute
    right: 0
    top: 0
    font-size: 0.75em
    z-index: 2
    transition: transform 0.3s

    &__star
      width: auto
      height: auto
      display: block
      font-size: 4em
      color: $accent
      opacity: 0.6
      transition: opacity 0.3s

    &__value
      position: absolute
      color: white
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  &__cover
    display: block
    max-width: 100%
    margin: 0
    transform: scale(1.01)
    transition: transform 0.3s, filter 0.3s