<mat-card class="card" *ngIf="data">
  <a [routerLink]="data?.key">
    <div class="card__rate">
      <mat-icon class="card__rate__star">star</mat-icon
      ><span class="card__rate__value">{{ data?.rate }}</span></div
    >
    <img
      mat-card-image
      class="card__cover"
      [src]="'assets/images/movie-covers/' + data?.img"
      alt="Movie's cover"
    />
  </a>
</mat-card>
