<h1 mat-dialog-title class="header" color="warn">Error</h1>
<div mat-dialog-content>
  <p>{{ message }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()" cdkFocusInitial>Go back</button>
</div>
