<div class="list row">
  <div class="list__item col-xs-6 col-sm-12" *ngFor="let item of list"
    ><mat-checkbox
      color="primary"
      [checked]="valuesMap[item[valueKey]]"
      (change)="changeModel($event, item[valueKey])"
      >{{ item[labelKey] }}</mat-checkbox
    >
  </div>
</div>
<mat-divider></mat-divider>
<div class="options">
  <button mat-stroked-button (click)="clearFilters()">Clear filters</button>
</div>
