@import ../../styles/colors
@import ../../styles/mixins
  
:host
  display: flex
  flex-direction: column
  height: 100%
  overflow: hidden

.movies-view
  height: 100%

.toolbar
  min-width: 250px
  flex-grow: 0
  margin-right: -0.5em
  position: relative
  z-index: 10
  font-size: 16px

  .toolbar-row
    height: 64px
    position: relative
    z-index: 2
    background: inherit

  .filters
    height: auto
    position: absolute
    top: 64px
    left: 0
    right: 0
    z-index: 1
    transform: translateY(-100%)
    box-shadow: 0 0 10px #00000070

  .toggle-filter-button
    display: inline-block
    margin-right: -1em

.search
  width: 100%

.movies-container
  flex: 1 1 auto
  overflow-y: auto
  height: 100%

.movies
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
  margin: 0

.movie
  padding: 0
  cursor: pointer

.empty
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  & .icon
    width: auto
    height: auto
    font-size: 9em
    color: $accent

.loading
  height: 100%
  display: flex
  align-items: center
  justify-content: center

@include for-medium
  .toolbar
    box-shadow: 2px 0 10px #00000070

    .filters
      transform: translateY(0%) !important
      box-shadow: none

    .toggle-filter-button
      display: none
