<div class="row movies-view">
  <mat-toolbar class="toolbar col-xs-12 col-sm">
    <mat-toolbar-row class="toolbar-row">
      <app-search-field
        class="search"
        [value]="filter$ | async"
        (changeSearch)="searchChanged($event)"
      ></app-search-field>
      <button
        class="toggle-filter-button"
        mat-icon-button
        aria-label="Expand/collapse filters"
        (click)="toggleFilters()"
        ><mat-icon class="icon">{{
          isFilterOpen ? 'expand_less' : 'expand_more'
        }}</mat-icon></button
      >
    </mat-toolbar-row>
    <mat-toolbar-row
      class="filters toolbar-row"
      [@openCloseFilter]="isFilterOpen ? 'open' : 'closed'"
    >
      <app-filter
        class="filter"
        [list]="genres"
        labelKey="key"
        valueKey="value"
        [values]="selectedGenres$ | async"
        (changeSelection)="filterChanged($event)"
      ></app-filter>
    </mat-toolbar-row>
  </mat-toolbar>
  <div
    *ngIf="loading$ | async; then loadingBlock; else movieContainerBlock"
  ></div>

  <ng-template #movieContainerBlock>
    <div class="movies-container col-xs-12 col-sm">
      <div *ngIf="count$ | async; then moviesBlock; else emptyBlock"></div>
    </div>
  </ng-template>

  <ng-template #moviesBlock>
    <div class="movies">
      <ng-container *ngFor="let movie of movies$ | async">
        <app-movie-card @flyInOut class="movie" [data]="movie"></app-movie-card>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #loadingBlock>
    <div class="loading">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  </ng-template>

  <ng-template #emptyBlock>
    <div class="empty">
      <i class="material-icons icon" aria-hidden="true">
        movie_filter
      </i>
      <span>The list is empty</span>
    </div>
  </ng-template>
</div>
