<button
  mat-fab
  class="back-btn"
  color="primary"
  aria-label="Go back"
  (click)="goBack()"
  ><mat-icon>arrow_back</mat-icon></button
>
<ng-container *ngIf="data$ | async as data">
  <img class="background" [src]="'assets/images/movie-covers/' + data.img" />
  <div class="container">
    <article class="movie">
      <div class="row">
        <img
          class="movie__cover col-xs-12 col-sm"
          [src]="'assets/images/movie-covers/' + data.img"
          alt="cover"
        />
        <div class="col-xs-12 col-sm">
          <header>
            <h2 class="movie__name">{{ data.name }}</h2>
          </header>
          <div class="movie__genres item row"
            ><span class="col-xs-2 item__label">Genres</span
            ><span class="col-xs-10 item__value genres"
              ><span class="genres__item" *ngFor="let genre of data.genres">{{
                getGenre(genre)
              }}</span></span
            ></div
          >
          <div class="movie__rate item row"
            ><span class="col-xs-2 item__label">Rate</span
            ><span class="col-xs-10 item__value"
              ><app-rate [value]="data.rate"></app-rate></span
          ></div>
          <div class="movie__length item row"
            ><span class="col-xs-2 item__label">Length</span
            ><span class="col-xs-10 item__value"
              ><mat-icon class="item__value__icon">access_time</mat-icon
              ><span>{{ data.length }}</span></span
            ></div
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs movie__description">{{ data.description }}</div>
      </div>
    </article>
  </div>
</ng-container>
