@import ../../styles/colors
  
:host
  display: block
  height: 100%

  @media only screen and (max-width: calc((48 - 1 / 16) * 1em))
    .background
      display: none

    .container
      padding: 0 0 1em 0
      box-shadow: none

    .movie
      &__cover
        margin: 0 auto

.back-btn
  position: fixed
  top: 1em
  left: 1em

.container
  height: 100%
  max-width: 48em
  padding: 35px 15px 15px
  background: white
  box-sizing: border-box
  box-shadow: 0 0 15px rgba(0,0,0,0.4)
  overflow-y: auto
  overflow-x: hidden

.movie
  & > .row
    margin: 0

  &__cover
    margin-right: 1em
    flex: 0 0 auto

  &__description
    margin-top: 1em

.item
  position: relative
  font-size: 0.9em
  margin-bottom: 1em

  &::after
    content: ''
    position: absolute
    left: 0
    right: 0
    bottom: -0.5em
    border-bottom: 1px dotted $gray

  &__label
    color: $gray

  &__value
    display: flex
    align-items: center
    flex-wrap: wrap

    &__icon
      width: auto
      height: auto
      margin-right: 0.3em
      font-size: 1em
      color: $accent

.genres
  &__item
    &::after
      content: ','
      margin-right: 0.3em
    
    &:last-child
      &::after
        content: none

.background
  position: fixed
  display: block
  width: 100%
  height: 100%
  z-index: -1
  filter: blur(15px) saturate(0.5)
  opacity: 0.5
  object-fit: cover
  object-position: center